<footer class="container ms-5 lead  mb-4" dir="rtl">
    <div id="footer" class=" d-block d-sm-flex  justify-content-between ">
        <div>
            <nav class=" nav"><a target="_blank"
                    href="/"
                    class="nav-link text-secondary fw-bold">
                   About Oktub
                </a> <a target="_blank"
                    href="/"
                    class="nav-link text-secondary fw-bold">
                    Writing Conditions 
                </a> <a target="_blank"
                    href="/"
                    class="nav-link text-secondary fw-bold">
                   Privacy Policy
                </a></nav>
        </div>
        <div class="ml-auto">
            <nav class="nav">
                <p class="my-auto nav-link text-secondary fw-bold ">
                    Oktub
                    2022©
                </p> <a target="_blank" href="/"
                    class="nav-link text-secondary"><i aria-hidden="true" class="fa fa-facebook"></i></a> <a
                    target="_blank" href="/" class="nav-link text-secondary"><i
                        aria-hidden="true" class="fa fa-twitter"></i></a> <a target="_blank"
                    href="/" class="nav-link text-secondary"><i aria-hidden="true"
                        class="fa fa-instagram"></i></a>
            </nav>
        </div>
    </div>
</footer>
