<footer class="container mt-auto mb-4">
    <div class="d-block d-sm-flex  align-items-center justify-content-between">
        <div>
            <nav class="nav"><a target="_blank"
                    href="https://oktob.io/pages/35907?%D8%B9%D9%86-%D8%A7%D9%83%D8%AA%D8%A8"
                    class="nav-link text-secondary fw-bold">
                    عن اكتب
                </a> <a target="_blank"
                    href="https://oktob.io/pages/35906?%D8%B4%D8%B1%D9%88%D8%B7-%D8%A7%D9%84%D9%83%D8%AA%D8%A7%D8%A8%D8%A9"
                    class="nav-link text-secondary fw-bold">
                    شروط الكتابة
                </a> <a target="_blank"
                    href="https://oktob.io/pages/35905?%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9-%D8%A7%D9%84%D8%AE%D8%B5%D9%88%D8%B5%D9%8A%D8%A9"
                    class="nav-link text-secondary fw-bold">
                    سياسة الخصوصية
                </a></nav>
        </div>
        <div class="ml-auto">
            <nav class="nav">
                <p class="my-auto nav-link text-secondary fw-bold ">
                    أكتب
                    2022©
                </p> <a target="_blank" href="https://www.facebook.com/Oktob-752291344864553/"
                    class="nav-link text-secondary"><i aria-hidden="true" class="fa fa-facebook"></i></a> <a
                    target="_blank" href="https://twitter.com/oktob_app" class="nav-link text-secondary"><i
                        aria-hidden="true" class="fa fa-twitter"></i></a> <a target="_blank"
                    href="https://www.instagram.com/oktobapp/" class="nav-link text-secondary"><i aria-hidden="true"
                        class="fa fa-instagram"></i></a>
            </nav>
        </div>
    </div>
</footer>
