<% layout('/layouts/boilerplate') %> 

<body dir="rtl">
    <div id="app" class="min-h-screen d-flex flex-column">
        <main class="my-auto">
            <div class="container">
                <div class="text-center my-auto text-sm-right">
                    <div class="mb-5">
                        <h1 class="  display-4">اكتب</h1>
                        <p class="mb-0 oktop-title-color font-weight-bolder lead">منصة تدوين عربية تعتمد مبدأ البساطة
                            <br> في التصميم و التدوين<br>
                        </p>
                    </div> <a href="/signup"
                        class="btn btn-primary text-white mb-3 m-sm-0 mr-3 font-weight-bold p-3"><i aria-hidden="true"
                            class="fa fa-twitter mr-2"></i>
                        سجل عن طريق تويتر وابدأ الكتابة
                    </a> <a href="login"
                        class="btn bg-white shadow-sm text-dark fw-bold p-3">
                        تسجيل دخول
                    </a> <br> <a href="explore"
                        class="btn btn-link p-0 font-19px oktop-title-color font-weight-bold mt-4"><u>اكتشف</u></a> <br>
                </div>
            </div>
        </main>
         
    </div>
   
    <!-- Scripts -->
 




</body>