<% layout('/layouts/boilerplate') %> 

<body dir="rtl">
    <div id="app" class="min-h-screen d-flex flex-column">
        <main class="my-auto">
            <div class="container">
                <div class="text-center my-auto text-sm-right">
                    <div class="mb-5">
                        <h1 class="  display-4">اكتب</h1>
                        <p class="mb-0 oktop-title-color font-weight-bolder lead">منصة تدوين عربية تعتمد مبدأ البساطة
                            <br> في التصميم و التدوين<br>
                        </p>
                    </div> <a href="/signup"
                        class="btn btn-primary text-white mb-3 m-sm-0 mr-3 font-weight-bold p-3"><i aria-hidden="true"
                            class="fa fa-twitter mr-2"></i>
                        سجل عن طريق تويتر وابدأ الكتابة
                    </a> <a href="login"
                        class="btn bg-white shadow-sm text-dark fw-bold p-3">
                        تسجيل دخول
                    </a> <br> <a href="explore"
                        class="btn btn-link p-0 font-19px oktop-title-color font-weight-bold mt-4"><u>اكتشف</u></a> <br>
                </div>
            </div>
        </main>
        <footer class="container mt-auto mb-4">
            <div class="d-block d-sm-flex  align-items-center">
                <div>
                    <nav class="nav"><a target="_blank"
                            href="https://oktob.io/pages/35907?%D8%B9%D9%86-%D8%A7%D9%83%D8%AA%D8%A8"
                            class="nav-link text-light font-weight-bold">
                            عن اكتب
                        </a> <a target="_blank"
                            href="https://oktob.io/pages/35906?%D8%B4%D8%B1%D9%88%D8%B7-%D8%A7%D9%84%D9%83%D8%AA%D8%A7%D8%A8%D8%A9"
                            class="nav-link text-light font-weight-bold">
                            شروط الكتابة
                        </a> <a target="_blank"
                            href="https://oktob.io/pages/35905?%D8%B3%D9%8A%D8%A7%D8%B3%D8%A9-%D8%A7%D9%84%D8%AE%D8%B5%D9%88%D8%B5%D9%8A%D8%A9"
                            class="nav-link text-light font-weight-bold">
                            سياسة الخصوصية
                        </a></nav>
                </div>
                <div class="ml-auto">
                    <nav class="nav">
                        <p class="my-auto nav-link text-light font-weight-bold">
                            أكتب
                            2022©
                        </p> <a target="_blank" href="https://www.facebook.com/Oktob-752291344864553/"
                            class="nav-link text-light"><i aria-hidden="true" class="fab fa-facebook-f"></i></a> <a
                            target="_blank" href="https://twitter.com/oktob_app" class="nav-link text-light"><i
                                aria-hidden="true" class="fab fa-twitter"></i></a> <a target="_blank"
                            href="https://www.instagram.com/oktobapp/" class="nav-link text-light"><i aria-hidden="true"
                                class="fab fa-instagram"></i></a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
   
    <!-- Scripts -->
 




</body>